.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.App-logo {
  margin-top: 3vh;
  height: 5vmin;
  width: 5vw;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 8s linear;
  }
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(360deg);
  }
  40% {
    transform: scale(1.2, 1.2);
  }
  60% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
